@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2') format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}

@font-face {
    font-family: 'Comforta';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('./fonts/Comfortaa-VariableFont_wght.ttf') format('woff2');
}

/* Common variables */
:root {
    --clr-primary: #ef4044;
    --clr-primary-disabled: #f7bebf;
    --clr-primary-hover: #f56164;
    --clr-secondary: #5f5353c2;
}

.page {
    height: 96vh;
    font-family: 'Poppins', sans-serif;
}

.page-content {
    height: 100%;
}

.stopwatch-section {
    box-shadow: 0 0 15px 0px var(--clr-primary-disabled), inset 0 0 16px -4px var(--clr-secondary);
    border-radius: 10px;
    padding-bottom: 20px;
}

.sw-title {
    color: var(--clr-primary);
    font-size: 5.2vw;
    margin-bottom: 20px;
}

.num-row {
    color: var(--clr-secondary);
    font-size: 3em;
    font-size: 4vw;
    font-family: 'Comforta';
    font-weight: bold;
}

.btn-row {
    gap: 4px;
}

button {
    width: 100%;
    font-family: 'Poppins', sans-serif !important;
    font-size: 2em;
}

/* Mui style overrides START*/
button.btn-primary {
    background-color: var(--clr-primary);
    border-color: var(--clr-primary);
}

button.btn-primary:disabled {
    background-color: var(--clr-primary-disabled);
    border-color: var(--clr-primary-disabled);
}

button.btn-primary:hover {
    background-color: var(--clr-primary-hover);
    border-color: var(--clr-primary-hover);
}

button.btn-primary:focus,
button.btn-primary:active:focus {
    box-shadow: none;
    background-color: var(--clr-primary);
    border-color: var(--clr-primary);
}

/* Mui style overrides END*/